<!DOCTYPE html>
<html lang="es" ng-app="iot-app">
	<head>
		<meta charset="UTF-8">
		<title>Taller IOT y WOT</title>
		<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="styles/app.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<meta name="viewport" content="initial-scale=1" />
	</head>
	<body ng-controller="AppController" id="mainContainer">
		<div class="appTabs" layout="column" flex layout-fill>
			<md-toolbar md-scroll-shrink>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button">
						<!-- <span ng-md-icon icon="done" aria-label="logo"></span> -->
					</md-button>
					Taller IOT y WOT
				</div>
			</md-toolbar>
			<md-content class="md-padding">
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Control de LEDs">
						<md-content layout="column" class="md-padding">
							<h1 class="md-display-2">Control de LEDs</h1>
							<div ng-repeat="switch in switches track by $index">
								<md-button ng-click="setToggles($index)" ng-class="{'md-switch-on': switch['toggled'] == 1}" class="md-fab" aria-label="Toggle switch">
									<span ng-md-icon icon={{switches[$index]['icon']}} style="fill" size="36"></span>
								</md-button>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Nivel del Agua" ng-click="startGetWaterLevelTimer()">
						<md-content layout="column" class="md-padding">
							<h1 class="md-display-2">Nivel del Agua</h1>
							<span class="md-display-1">{{distance}}</span>
						</md-content>
					</md-tab>
					<md-tab label="Configuración">
						<md-content layout="column" class="md-padding">
							<h1 class="md-display-2">Configuración</h1>
							<div layout="row" layout-sm="column">
								<md-input-container flex>
									<label>IP</label>
									<input ng-model="connection.ip">
								</md-input-container>
								<md-input-container flex>
									<label>Puerto</label>
									<input ng-model="connection.port">
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
		<!-- Scripts -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</body>
</html>